* {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}
.navbar {
  font-size: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(2, 36, 75, 0.904);
  text-align: center;
  width: 100%;
}

.box {
  margin-top: 10px;
  font-weight: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 50%;
  margin: 0 auto;
}
body {
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
}
